VBOXWEB_USER={{ host.user }}
VBOXWEB_PASSWD={{ host.user }}
VBOXWEB_TIMEOUT={{ host.timeout }}
VBOXWEB_PORT={{ host.port }}
VBOX_HOME={{ host.home }}
VBOXWEB_LOGFILE={{ host.log }}
VBOXWEB_PIDFILE={{ host.pid }}
VBOXWEB_HOST=127.0.0.1
