{%- set host = salt['grains.filter_by']({
    'Debian': {
        'service': 'virtualbox',
        'version': '5.1',
        'user': 'vbox',
        'group': 'vboxusers',
        'password': 'vbox',
        'timeout': '0',
        'host': '0.0.0.0',
        'port': '18083',
        'home': '/home/vbox/.VirtualBox',
        'log': '/var/log/vboxwebservice.log',
        'pid': '/run/vboxweb/vboxweb.pid',
    },
}, merge=salt['pillar.get']('virtualbox:host')) %}
